.ant-sender {
    transition: all 0.3s ease;
    border: none !important;
    background-image: linear-gradient(var(--background-color), var(--background-color)),
    linear-gradient(to right, rgb(200, 172, 250), rgb(200, 172, 250));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.ant-sender:focus-within {
    border: none !important;
    background-image: linear-gradient(var(--background-color), var(--background-color)),
    linear-gradient(to right, rgb(180, 152, 230), rgb(180, 152, 230));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background-repeat: no-repeat;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 10px 3px rgba(180, 152, 230, 0.22), 0 0 0 2px rgba(180, 152, 230, 0.16);
}

.ant-sender-content {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    padding-right: 6px !important;
}

.ant-sender-input::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.ant-sender-input::-webkit-scrollbar-track {
    background: transparent;
}

.ant-sender-input::-webkit-scrollbar-thumb {
    background: var(--input-scrollbar-background-color);
    border-radius: 4px;
    transition: background 0.2s ease-out;
    border: none;
}

.ant-sender-input::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

