.search-list-container {
  margin: 10px 0;

  .search-intent-content {
    font-size: 13px;
    line-height: 1.6;
    color: var(--reasoning-text-color); 
  }
  
  .search-results-list {
    
    .ant-list-item {
      border-bottom: none;
      padding: 0;
    }
    
    .search-list-item {
      display: flex;
      align-items: center;
      padding: 2px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 2px;

      &:hover {
        .search-list-content {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
      
      .search-list-index {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        width: 16px;
        height: 16px;
        background-color: var(--search-list-index-bg-color);
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
        color: var(--search-list-index-color);
      }
      
      .search-list-content {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;
        
        .search-list-favicon,
        .search-list-icon {
          margin-right: 4px;
          width: 14px;
          height: 14px;
        }
        
        .search-list-title {
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          color: var(--search-list-title-color);
        }
      }
    }
  }
}

.search-result-card {
  width: 300px;
  box-shadow: none;
  
  &.ant-card .ant-card-body {
    padding: 5px;
  }
  
  .search-result-url {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    
    .search-result-favicon {
      width: 12px;
      height: 12px;
    }
    
    .search-result-icon {
      width: 12px;
      height: 12px;
      color: var(--search-result-icon-color);
    }
  }
  
  .search-result-title {
    margin-bottom: 8px;
    margin-top: 0;
  }
  
  .search-result-description {
    margin-bottom: 0;
    color: var(--search-result-description-color);
    max-height: 60px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 12px;
  }
} 