.chat-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.chat-footer {
    display: flex;
    flex-direction: column;
    padding: 8px 0px 20px 0px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    border-radius: 12px;
    flex-shrink: 0;

    background: var(--background-color);

}